{% extends "admin/change_form.html" %}
{% load static %}

{% block title %}Change Meter Device - DCMS Admin{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin-blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datalist.css' %}">
    <script src="{% static 'datalist.js' %}"></script>
{% endblock %}  

{% block admin_change_form_document_ready %}
    {{ block.super }}
    
    {% if meter_models_datalist %}
        {{ meter_models_datalist }}
    {% endif %}
    
    <script>
        // Add available models data to JavaScript
        window.predefinedMeterModels = {{ predefined_models|safe }};
        window.availableMeterModels = {{ available_models|safe }};
    </script>
{% endblock %}
